<div #modal></div>

<nav id="body-nav">
    <h2>My orchards</h2>
    <button (click)="newZone()">New orchard</button>
    <ul>
        <li *ngFor="let zone of zones | filter:{roleId: 1}">
            <a (click)="getZone(zone.id); setActiveRole(zone.roleId)">{{ zone.alias }}</a>
        </li>
    </ul>

    <h2>Collaborating</h2>
    <ul>
        <li *ngFor="let zone of zones | filter:{roleId: 2}">
            <a (click)="getZone(zone.id); setActiveRole(zone.roleId)">{{ zone.alias }}</a>
        </li>
    </ul>

    <h2>Following</h2>
    <ul>
        <li *ngFor="let zone of zones | filter:{roleId: 3}">
            <a (click)="getZone(zone.id); setActiveRole(zone.roleId)">{{ zone.alias }}</a>
        </li>
    </ul>
</nav>
<hr />

<main id="body-main" *ngIf="zone">
    <header class="main-header">
        <div class="pull-left">
            <h2>{{ zone.alias }}</h2>
        </div>

        <div class="pull-right">
            <button *ngIf="canEdit()" disabled>Rename orchard</button>
            <button *ngIf="canDelete()" (click)="deleteZone(zone.id)">Delete orchard</button>
            <button *ngIf="canCreate()" (click)="addVariety(zone.id)">Add plant</button>
            <button *ngIf="canCreate()" disabled>Add collaborator</button>
        </div>
    </header>
    <hr />

    <article class="article" *ngFor="let varietySensor of zone.varietiesSensors">
        <header class="article-header">
            <div class="pull-left">
                <h3><a (click)="getLastLog(varietySensor.id)">{{ varietySensor.variety.name }}</a></h3>
            </div>

            <div class="pull-right">
                <button *ngIf="canDelete()" (click)="removeVariety(varietySensor.id, zone.id)">Delete plant</button>
                <button *ngIf="canEdit()" disabled>Change variety</button>
                <button *ngIf="canDelete() && varietySensor.sensor.id" (click)="removeSensor(varietySensor.id, zone.id)">Remove sensor</button>
                <button *ngIf="canEdit() && varietySensor.sensor.id" (click)="addSensor(varietySensor.id, zone.id)" disabled>Change sensor</button>
                <button *ngIf="canCreate() && !varietySensor.sensor.id" (click)="addSensor(varietySensor.id, zone.id)">Add sensor</button>
            </div>
        </header>

        <main *ngIf="plantLog" class="article-main">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Air temperature</th>
                        <th>Soil temperature</th>
                        <th>Light</th>
                        <th>Air humidity</th>
                        <th>Soil moisture</th>
                        <th>PH</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Current</td>
                        <td>{{ plantLog.current.airTemp }}</td>
                        <td>{{ plantLog.current.soilTemp }}</td>
                        <td>{{ plantLog.current.light }}</td>
                        <td>{{ plantLog.current.airHum }}</td>
                        <td>{{ plantLog.current.soilMoist }}</td>
                        <td>{{ plantLog.current.ph }}</td>
                    </tr>
                    <tr>
                        <td>Average</td>
                        <td>{{ plantLog.average.airTemp }}</td>
                        <td>{{ plantLog.average.soilTemp }}</td>
                        <td>{{ plantLog.average.light }}</td>
                        <td>{{ plantLog.average.airHum }}</td>
                        <td>{{ plantLog.average.soilMoist }}</td>
                        <td>{{ plantLog.average.ph }}</td>
                    </tr>
                    <tr>
                        <td>Recommended maximum</td>
                        <td>{{ plantLog.recommendedMax.airTemp }}</td>
                        <td>{{ plantLog.recommendedMax.soilTemp }}</td>
                        <td>{{ plantLog.recommendedMax.light }}</td>
                        <td>{{ plantLog.recommendedMax.airHum }}</td>
                        <td>{{ plantLog.recommendedMax.soilMoist }}</td>
                        <td>{{ plantLog.recommendedMax.ph }}</td>
                    </tr>
                    <tr>
                        <td>Recommended minimum</td>
                        <td>{{ plantLog.recommendedMin.airTemp }}</td>
                        <td>{{ plantLog.recommendedMin.soilTemp }}</td>
                        <td>{{ plantLog.recommendedMin.light }}</td>
                        <td>{{ plantLog.recommendedMin.airHum }}</td>
                        <td>{{ plantLog.recommendedMin.soilMoist }}</td>
                        <td>{{ plantLog.recommendedMin.ph }}</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </article>
</main>
<hr />