<div #modal></div>

<nav id="body-nav">
    <h2>My orchards</h2>
    <button>New orchard</button>
    <ul>
        <li *ngFor="let zone of zones | filter:{roleId: 1}">
            <a (click)="getZone(zone.id); setActiveRole(zone.roleId)">{{ zone.alias }}</a>
        </li>
    </ul>

    <h2>Collaborating</h2>
    <ul>
        <li *ngFor="let zone of zones | filter:{roleId: 2}">
            <a (click)="getZone(zone.id); setActiveRole(zone.roleId)">{{ zone.alias }}</a>
        </li>
    </ul>

    <h2>Following</h2>
    <ul>
        <li *ngFor="let zone of zones | filter:{roleId: 3}">
            <a (click)="getZone(zone.id); setActiveRole(zone.roleId)">{{ zone.alias }}</a>
        </li>
    </ul>
</nav>
<hr />

<main id="body-main" *ngIf="zone">
    <header class="main-header">
        <div class="pull-left">
            <h2>{{ zone.alias }}</h2>
        </div>

        <div class="pull-right">
            <button *ngIf="canEdit()">Rename orchard</button>
            <button *ngIf="canDelete()">Delete orchard</button>
            <button *ngIf="canCreate()">Add plant</button>
            <button *ngIf="canCreate()">Add collaborator</button>
        </div>
    </header>
    <hr />

    <article class="article" *ngFor="let variety of zone.varieties">
        <header class="article-header">
            <div class="pull-left">
                <h3><a>{{ variety.name }}</a></h3>
            </div>

            <div class="pull-right">
                <button *ngIf="canDelete()">Delete plant</button>
                <button *ngIf="canEdit()">Change variety</button>
                <button *ngIf="canDelete() && variety.sensorId" (click)="removeSensor(zone.id, variety.id, variety.sensorId)">Remove sensor</button>
                <button *ngIf="canCreate() && !variety.sensorId" (click)="addSensor(zone.id, variety.id)">Add sensor</button>
            </div>
        </header>

        <!--<main class="article-main">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Soil moisture</th>
                        <th>Soil temperature</th>
                        <th>PH</th>
                        <th>Air temperature</th>
                        <th>Air humidity</th>
                        <th>Light</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Now</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Average</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Recommended</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                </tbody>
            </table>
        </main>-->
    </article>
</main>
<hr />