<aside>
    <h2>My orchards</h2>
    <button>New orchard</button>
    <ul>
        <li><a href="#">Orchard 1</a></li>
        <li><a href="#">Orchard 2</a></li>
    </ul>

    <h2>Collaborating</h2>
    <ul>
        <li><a href="#">Orchard 3</a></li>
        <li><a href="#">Orchard 4</a></li>
    </ul>
</aside>
<hr />

<main>
    <header>
        <h2>Orchard 1</h2>
        <button>Rename orchard</button>
        <button>Delete orchard</button>
        <button>Add plant</button>
        <button>Add collaborator</button>
    </header>
    <hr />

    <article>
        <header>
            <h3>Plant 1</h3>
            <button>Rename plant</button>
            <button>Delete plant</button>
            <button>Change variety</button>
            <button (click)="addSensor()">Add/Remove sensor</button>
        </header>

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Soil moisture</th>
                    <th>Soil temperature</th>
                    <th>PH</th>
                    <th>Air temperature</th>
                    <th>Air humidity</th>
                    <th>Light</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Now</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Average</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Recommended</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                    <td>20</td>
                </tr>
            </tbody>
        </table>
    </article>
</main>
<hr />