<p>user-list.component.html</p>

<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users"
                [class.active]="user === selectedUser"
                (click)="onSelect(user)">
                <th>{{ user.id }}</th>
                <td>{{ user.username }}</td>
            </tr>
        </tbody>
    </table>
</div>