<article class="modal">
    <div class="modal-container">
        <header class="modal-header">
            <h2>Register sensor</h2>
        </header>
        <hr />

        <form class="modal-main" #userRegisterSensorForm="ngForm" (ngSubmit)="onSubmit(userRegisterSensorForm)">
            <div>
                <label for="sensor">Sensor</label>
                <select id="sensor"
                        name="sensorId"
                        [(ngModel)]="sensor.id"
                        required>
                    <option *ngFor="let sensor of sensors" [ngValue]="sensor.id">{{ sensor.serial }}</option>
                </select>
            </div>
            <div>
                <button type="submit"
                        [disabled]="!userRegisterSensorForm.valid">Submit</button>
                <button type="button"
                        (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</article>