<div #modal></div>

<header class="main-header">
    <div class="pull-left">
        <h2>Edit sensors</h2>
    </div>
    <div class="pull-right">
        <button (click)="registerSensor()">Register sensor (Temp ft)</button>
    </div>
</header>
<hr />

<article class="article" *ngFor="let sensor of sensors">
    <header class="article-header">
        <div class="pull-left">
            <h3>{{ sensor.serial }}</h3>
        </div>
        <div class="pull-right">
            <button (click)="deregisterSensor(sensor.id)">Delete sensor</button>
        </div>
    </header>

    <!--<main class="article-main">
        <table>
            <tbody>
                <tr>
                    <th>Last update</th>
                    <td>11/12/1983</td>
                </tr>
            </tbody>
        </table>
    </main>-->
</article>