<article class="article">
    <header class="article-header">
        <h2>Login</h2>
    </header>
    <hr />

    <form class="article-main" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

        <div *ngIf="errorMessage" class="error">
            {{ errorMessage }}
        </div>

        <div>
            <label for="username">Username</label>
            <input type="text"
                   id="username"
                   name="username"
                   [(ngModel)]="user.username"
                   minlength="2"
                   maxlength="30"
                   required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password"
                   id="password"
                   name="password"
                   [(ngModel)]="user.password"
                   minlength="4"
                   maxlength="30"
                   required>
        </div>
        <!--<div>
            <label>
                <input type="checkbox"
                       name="isPersistent">
                Remember me
            </label>
        </div>-->
        <div>
            <button type="submit"
                    [disabled]="!loginForm.valid">Log in</button>
        </div>
    </form>
</article>