<header id="body-header">
    <nav>
        <div class="pull-left">
            <h1><a routerLink="/dashboard">{{ title }}</a></h1>
            <a *ngIf="isLoggedIn" routerLink="/users">Users</a>
        </div>

        <div class="pull-right">
            <p *ngIf="isLoggedIn">Hi, {{ user.username }}! <a routerLink="/settings">Settings</a></p>
            <button *ngIf="!isLoggedIn" type="button" routerLink="/login">Login</button>
            <button *ngIf="!isLoggedIn" type="button" routerLink="/sign-up">Sign up</button>
            <button *ngIf="isLoggedIn" type="button" routerLink="/logout">Sign out</button>
        </div>
    </nav>
</header>
<hr />

<router-outlet></router-outlet>