<main>
    <header>
        <h2>Sensors</h2>
        <button>Add sensor</button>
    </header>
    <hr />

    <article>
        <header>
            <h3>Sensor 1</h3>
            <button>Delete sensor</button>
        </header>
        <main>
            <table>
                <tr>
                    <td>Serial</td>
                    <td>G345H678I</td>
                </tr>
                <tr>
                    <td>Last update</td>
                    <td>11/12/1983</td>
                </tr>
            </table>
        </main>
    </article>
</main>
<hr />